:root {
  --ifm-color-primary: #1E88E5;
  --ifm-color-primary-dark: #1565C0;
  --ifm-color-primary-darker: #0D47A1;
  --ifm-color-primary-light: #42A5F5;
  --ifm-color-primary-lighter: #64B5F6;
  --ifm-background-color: #0D1117; /* Fondo oscuro */
  --ifm-font-family-base: 'Inter', sans-serif; /* Fuente moderna */
}

body {
  background-color: var(--ifm-background-color);
}

.navbar__title {
  font-size: 20px;
  font-weight: bold;
}

.menu__link {
  font-size: 16px;
}
